<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Glosa static integration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
        <link href="css/mobile.min.css" rel="stylesheet" media="all and (max-width: 600px)">
        <link href="css/desktop.min.css" rel="stylesheet" media="all and (min-width: 600px)">
        <script src="js/vendors/vue.min.js"></script>
        <script src="js/vendors/axios.min.js"></script>
        <script src="js/vendors/ramda.min.js"></script>
        <script defer src="js/glosa.min.js"></script>
    </head>
    <body>
        <section id="app-comments" class="comments">

            <!-- Head -->
            <div class="comments__header">
                <div>
                    <button @click="openNewComment(false)" class="button comments-header__button-plus">
                        <img alt="Añadir comentario" class="comments-header__button-plus-img" src="img/add-outline.svg">
                    </button>
                </div>
                <p class="comments-header__count">
                   {{ comments.length }} comentarios
                </p>
            </div>
            <!-- End head -->

            <!-- Comments -->
            <comment v-for="comment in commentsParent" :id="comment.id" :comments="comments" />
            <!-- End Comments -->

            <!-- New comment -->
            <div v-if="showNewComment" class="new-comment">
                Nuevo comentario
            </div>
            <!-- End new comment -->

        </section>

        <!-- Template comment  -->
        <template id="comment">
            <div class="comment">
                <div class="comment__header">

                    <!-- Date -->
                    <div class="comment__create-at">
                        {{ formatDate(fields.createdAt) }}
                    </div>
                    <!-- End date -->

                    <!-- Author -->
                    <div class="comment__author">
                        {{ fields.author }}
                    </div>
                    <!-- End author -->

                    <!-- Button new comment -->
                    <button class="button comment__reply" @click="openNewComment(id)">
                        <img class="comment__reply-img" alt="Replicar" src="img/reply.svg">
                    </button>
                    <!-- End button new comment -->

                </div>

                <!-- Separator -->
                <hr class="comment__line">
                <!-- End separator -->

                <!-- Content -->
                <div class="comment__content">{{ filterHTMLTags(fields.message) }}</div>
                <!-- End content -->

                <comment v-for="child in childs" :id="child.id" :comments="comments" :class="{ 'comment--child': child.deep <= maxDeep }" />
            </div>
        </template>
        <!-- End template comment -->

    </body>
</html>
