<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Glosa static integration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
        <link href="css/mobile.min.css" rel="stylesheet" media="all and (max-width: 600px)">
        <link href="css/desktop.min.css" rel="stylesheet" media="all and (min-width: 600px)">
        <script src="js/vendors/vue.min.js"></script>
        <script src="js/vendors/axios.min.js"></script>
        <script src="js/vendors/ramda.min.js"></script>
        <script defer src="js/glosa.min.js"></script>
    </head>
    <body>
        <section id="app-comments" class="comments">
            <div class="comments__header">
                <div>
                    <button @click="openNewComment(false)" class="button comments-header__button-plus">
                        <img alt="Añadir comentario" class="comments-header__button-plus-img" src="img/add-outline.svg"> 
                    </button>
                </div>
                <p class="comments-header__count">
                   {{ comments.length }} comentarios 
                </p>
            </div>
            <div v-for="comment in commentsSortWithChilds" class="comment" :class="{ 'comment--child': comment.parent !== undefined }">
                <div class="comment__header">
                    <div class="comment__create-at">
                        {{ formatDate(comment.createdAt) }}
                    </div>
                    <div class="comment__author">
                        {{ comment.author }}
                    </div>
                    <button class="button comment__reply" @click="openNewComment(comment.id)">
                        <img class="comment__reply-img" alt="Replicar" src="img/reply.svg">
                    </button>
                </div>
                <hr class="comment__line">
                <div class="comment__content">{{ filterHTMLTags(comment.message) }}</div>
            </div>
            <div v-if="showNewComment" class="new-comment">
                Nuevo comentario
            </div>
        </section>
    </body>
</html>
